
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  
}

section{
  height: 100vh;
}

.Home{
    
   /* height: 100vh; */
background: #ffffff;
    margin: 0;
   
    
}


  







.wrapper{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 700px){
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
   
    height:calc(100vh - 70px)
}
} 








.pie{
  
   margin-left: 25%;
    flex-direction: column;
    overflow-y: auto;
    height: 400px;
}

@media screen and (max-width: 1400px){

  .pie{
    height: 350px;
  }
}



 







.s-page{
  height: 100vh;

}

.s-content{
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

input{
  padding: 10px;
  font-size: 20px;
  border-radius: 1%;

}

.s-content input button{
  background: black;
}


.landing{

  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1%;
}

.landing-image img{
  width: 90%;
}

.landing-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 60%;
  margin-right: 2%;
}

.upload-form input[type="file"] {
  border: 2px solid #3498db;
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.upload-form input[type="file"]:hover {
  background-color: #2980b9;
}

.upload-form input[type="file"]::file-selector-button {
  border: none;
  background: none;
}
.fileName{
  margin: 20px;
}

.custom-file-upload {
  border: 2px solid #6C63FF;
  background-color: #6C63FF;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.custom-file-upload:hover {
  background-color: #514bbe;
}

.custom-file-upload input[type="file"] {
  display: none;
}


.upload-form{
  margin-right: 10%;
}

.data-box{
display: flex;
flex-direction: row;

}


.card{
  margin-left: 20px;

  padding: 10px;
  font-size: 14px;
  width: 160px;
  height: 220px;  
  border: none;
  box-shadow: none;
}

.card-header{
  font-size: 20px;
  padding: 2px;
  background-color: #645de2;
  color: whitesmoke;
  border-radius: 1%;
  text-align: center;
  padding-bottom: 5px;
  font-weight: 700;
  width: 110%;
}


.card-body{
  background-color: #efeef8;
  font-size: 14px;
  width: 110%;

}

.analyse{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 5%;
}

.analyse img{
  width: 18%;
}

.chart-container{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}


.bar-chart{
  width: 55%;
  margin-top: 3%;
  padding: 10px;
  border-right: 4px solid #a3a0e1;

  padding-right: 15px;
}

.chart-selection-container{
  width: 60%;
  padding: 10px;
  margin-left:5% ;
  margin-bottom: 2%;

}

.chart-selection img {
  width: 20%;
  cursor: pointer;
  align-items: center;
  margin-right: 20px;
  border: 2px solid #22212e;
  border-radius: 10%;
  margin-bottom: 2%;
  padding: 2px;

}

.selected-chart{
  padding: 5px;


}

.typing-animation {
  animation: typing 1s steps(1, end) forwards;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid;
  width: 100%;
  display: inline-block; /* Ensures the span behaves like an inline element */
  white-space: pre-wrap; /* Allows the span to break lines */
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

.loading-text-container {
  font-size: 18px; 
  padding: 10px;
  border-top: 2px solid #a3a0e1;

  width: 70%;
  overflow-wrap: break-word;
  margin-bottom: 10%;

}

.loading-text-container button{
  border: 2px solid black;
  background: transparent;
  color: black;
}

.loading-text-container button:hover{
  background: black;
  color: white;
}

